# Common rules

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files

[*.{yaml,yml}]
indent_size = 2

# Markdown files

[*.md]
trim_trailing_whitespace = false

# Window script files

[*.{bat,cmd,ps1}]
end_of_line = crlf

# Linux script files

[*.sh]
end_of_line = lf
