# Auto detect text files and perform LF normalization

*           text=auto

# Documents

*.md        text diff=markdown linguist-detectable

# Github files

codeowners  text

# Cmake files

*.cmake     text eol=lf

# Linux script files

*.sh        text eol=lf

# Serialisation

*.yaml      text eol=lf
*.yml       text eol=lf

# Exclude files form exporting

.gitattributes export-ignore
.gitignore     export-ignore
