name: Build SDL3 Runtimes

on:
  push:
    paths: ['build-linux.sh', 'build-windows.sh']
  workflow_dispatch:
    inputs:
      sdl3:
        description: 'SDL3 version to build'
        required: false
        default: '3.2.28'
      image:
        description: 'SDL3_Image version to build'
        required: false
        default: '3.2.4'
      ttf:
        description: 'SDL3_TTF version to build'
        required: false
        default: '3.2.2'

env:
  sdl3: ${{ github.event.inputs.sdl3 || '3.2.28' }}
  image: ${{ github.event.inputs.image || '3.2.4' }}
  ttf: ${{ github.event.inputs.ttf || '3.2.2' }}

jobs:
  build-linux:
    name: Build Linux Runtimes
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          chmod +x dependencies.sh
          ./dependencies.sh

      - name: Build
        run: |
          chmod +x build-linux.sh
          ./build-linux.sh "${{ env.sdl3 }}" "${{ env.image }}" "${{ env.ttf }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: linux-runtimes
          path: artifacts

  build-windows:
    name: Build Windows Runtimes
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          chmod +x dependencies.sh
          ./dependencies.sh

      - name: Build
        run: |
          chmod +x build-windows.sh
          ./build-windows.sh "${{ env.sdl3 }}" "${{ env.image }}" "${{ env.ttf }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: windows-runtimes
          path: artifacts

  package:
    name: Package and Publish Runtimes
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    permissions:
      contents: write
    env:
      runtime: quack.sdl3.runtimes.tar.gz
      checksums: checksums.txt

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Structure artifacts
        run: |
          mkdir -p artifacts/runtimes/linux-x64/native artifacts/runtimes/win-x64/native
          cp -r artifacts/linux-runtimes/runtimes/linux-x64/native/* artifacts/runtimes/linux-x64/native/
          cp -r artifacts/windows-runtimes/runtimes/win-x64/native/* artifacts/runtimes/win-x64/native/

      - name: Package artifacts
        run: |
          cd artifacts
          tar -czf ${{ env.runtime }} runtimes
          sha256sum ${{ env.runtime }} > ${{ env.checksums }}

      - name: Publish artifacts
        uses: softprops/action-gh-release@v2
        with:
          name: SDL3-${{ env.sdl3 }} Runtimes
          tag_name: sdl3-${{ env.sdl3 }}
          files: |
            artifacts/${{ env.runtime }}
            artifacts/${{ env.checksums }}
